/* External Imports */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --section-height: 60rem;
    --background-color: rgb(231, 231, 231);
    --border-radius: 10px;
}

html,body {
    font-family: "Lora";
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Header & Nav */
#nav-div {
    display: flex;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#nav-div > img {
    margin: 0 10px 0 0;
    padding: 0;
    width: 10rem;
}

#nav-div > ul {
    background-color: none;
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

/*    Main     */
main {
    background-color: var(--background-color);
    flex: 1;
}

.containers {
    border-radius: var(--border-radius);
}

#emphasis-text {
    font-weight: bold;
    text-align: center;
    text-align-last: center;
}

main h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0;
}

/* Hero */
main > #hero-section {
    height: var(--section-height);
    background-image: url(/assets/eventCenterHero.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

main .headings-container {
    color: white;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 0.6) 40%,     
        rgba(0, 0, 0, 0.6) 60%,    
        transparent 100%                
    );
    height: 100%;
    position: relative;
    font-family: "lora";
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
}

#hero-section h1 {
    font-size: 70px;
    margin-bottom: 12px;
}

#hero-section h2 {
    font-size: 10;
}

/* About Us */

#aboutUs-section h1 {
    margin-top: 30px;
    margin-bottom: 0;
}

main #aboutUs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #aboutUs-tiles {
    height: auto;
    min-height: var(--section-height);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 0;
    margin-top: 0;
}

main #about-photo-container {
    height: 50rem;
    width: 30rem;
    background-color: white;
    background-image: url(/assets/aboutUsPhoto.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

main #about-text-container {
    height: 50rem;
    width: 40rem;
    padding: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}   

main #about-letter-signatures {
    display: inline-block;
    height: auto;
    overflow: hidden;
}

main #about-letter-signatures img {
    height: 65%;
}

#about-letter {
    max-width: 550px;
    margin: 0 auto;
    text-align: justify;
    text-align-last: left;
}

/* Featured Events */

main #cardGrid-container {
    height: auto;
    margin: -20px 0 -20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

main .event-card {
    background-color: white;
    height: auto;
    width: 25rem;
    padding: 40px 40px 70px 40px;
    text-align: center;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.card-text {
    max-width: 350px;
    margin: 0 auto;
    text-align: justify;
    text-align-last: center;
}

/* footer */

footer {
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#socials-nav {
    background-color: purple;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-icons {
    width: 4rem;
    margin: 0;
    padding: 0;
}