/* External Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Header & Nav */
#nav-div {
    display: flex;
    background-color: rgb(231, 231, 231);
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#nav-div > img {
    margin: 0 10px 0 0;
    padding: 0;
    width: 10rem;
}

#nav-div > ul {
    background-color: none;
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

/* Main */
main > #hero-section {
    height: 60rem;
    background-image: url(/assets/eventCenterHero.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

main .headings-container {
    color: white;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.8) 0%,    /* solid center */
        rgba(0, 0, 0, 0.8) 50%,   /* keep it solid for half the radius */
        transparent 100%          /* fade out to nothing at edges */
    );
    position: relative;
    bottom: 80px;
}

